<>
  <Box mb={4}>
    <Heading variant="h1">h1. Muhsis Heading</Heading>
    <Heading variant="h2">h2. Muhsis Heading</Heading>
    <Heading variant="h3">h3. Muhsis Heading</Heading>
    <Heading variant="h4">h4. Muhsis Heading</Heading>
    <Heading variant="h5">h5. Muhsis Heading</Heading>
    <Heading variant="h6">h6. Muhsis Heading</Heading>
  </Box>

  <Box>
    <Heading variant="display-1">Display 1</Heading>
    <Heading variant="display-2">Display 2</Heading>
    <Heading variant="display-3">Display 3</Heading>
    <Heading variant="display-4">Display 4</Heading>
  </Box>
</>
