<>
  <Box mb={3}>
    <Text>Inline</Text><Text color="silver">text</Text><Text color="primary">element!</Text>
  </Box>
  <Box>
    <Text display="block">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</Text>
    <Text display="block" color="primary">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</Text>
    <Text display="block" color="secondary">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</Text>
    <Text display="block" color="info">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</Text>
    <Text display="block" color="success">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</Text>
    <Text display="block" color="warning">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</Text>
    <Text display="block" color="danger">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</Text>
  </Box>
</>
