<form>
  <SelectInput class="form-control" id="exampleFormControlSelect2" size="sm" mb={2}>
    <option>Option Nr. 1</option>
    <option>Option Nr. 2</option>
    <option>Option Nr. 3</option>
    <option>Option Nr. 4</option>
    <option>Option Nr. 5</option>
  </SelectInput>

  <SelectInput class="form-control" id="exampleFormControlSelect3" mb={2}>
    <option>Option Nr. 1</option>
    <option>Option Nr. 2</option>
    <option>Option Nr. 3</option>
    <option>Option Nr. 4</option>
    <option>Option Nr. 5</option>
  </SelectInput>

  <SelectInput class="form-control" id="exampleFormControlSelect3" size="lg">
    <option>Option Nr. 1</option>
    <option>Option Nr. 2</option>
    <option>Option Nr. 3</option>
    <option>Option Nr. 4</option>
    <option>Option Nr. 5</option>
  </SelectInput>
</form>
