<>
  <Pill mr={1}>1</Pill>
  <Pill mr={1} variant="secondary">
    2
  </Pill>
  <Pill mr={1} variant="success">
    3
  </Pill>
  <Pill mr={1} variant="info">
    4
  </Pill>
  <Pill mr={1} variant="warning">
    5
  </Pill>
  <Pill mr={1} variant="danger">
    99+
  </Pill>
  <Pill mr={1} variant="light">
    7
  </Pill>
  <Pill mr={1} variant="dark">
    8
  </Pill>
</>
