<Box>
  <TabGroup>
    {['Traits', 'Event History', 'Identities'].map((tab, index) => (
      <Tab key={tab} id={tab} isSelected={index === 0}>
        {tab}
      </Tab>
    ))}
  </TabGroup>
</Box>
